<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <title>포켓몬공홈</title>
    <style>
        img {
            width: 45px;
        }

        th {
            text-align: center;
            white-space: nowrap;
        }

        td.center {
            text-align: center;
        }

        body {
            background-image: url("");
            background-color: #D9E5FF;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}

    {% block list %}
    {% endblock list %}
</body>
</html>