<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>포켓몬 공식 사이트</title>
    <meta name="keywords" content=":::포켓몬 도감">
    <meta name="description" content=":::포켓몬 도감">
    <meta property="og:title" content=":::포켓몬 도감">
    <meta property="og:url" content="https://pokemonkorea.co.kr/pokedex/view/399">
    <meta property="og:site_name" content="Pokémon Korea">
    <meta property="og:description" content="포켓몬 도감:::">
    <meta property="og:image" content="http://pokemonkorea.co.kr/data2/pokedex_stuff/img/full/">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="/img/_con.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/css/swiper.min.css">
    <link rel="stylesheet" href="/css/common.css?v=1670946785">
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/js/swiper.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet"
        type="text/css">
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    <script src="/js/common.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-24945068-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>
    <div id="wrap">
        <!-- container -->
        <div id="ct" class="sub-book-view">
            <div id="top">
                    <div class="container"></div>
                </div>
                <div class="book-ct">
                    <div class="container">
                        <div class="bx-content row">
                            
                            <div class="col-lg-6 col-12">
                                <img src="https://data1.pokemonkorea.co.kr/newdata/pokedex/full/032001.png" alt="">
                            </div>
                            <div class="col-lg-6 col-12">
                                <h3>
                                    <p class="font-lato">No. 320</p> 고래왕자<p style="padding-top:5px;"></p>
                                </h3>

                                <p class="para descript">맑은 날에는 모래 해변에 올라가 공처럼 튀면서 논다. 코에서 물을 뿜어낸다.</p>
                                <p class="para descript" style="display:none;">맑은 날에는 모래 해변에 올라가 공처럼 튀면서 논다. 코에서 물을
                                    뿜어낸다.</p>
                                <p class="para descript" style="display:none;"></p>
                                <p class="para descript" style="display:none;"></p>
                                <div class="bx-detail">
                                    <div class="row">
                                        <div class="col-4">
                                            <h4 class="mb-2">타입</h4>
                                            <div class="d-flex">
                                                <span class="img-type"><span><img
                                                            src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-05_13-05-45-74190-1599278745.png"
                                                            alt=""></span>
                                                    <p>물</p>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <h4 class="mb-3">키</h4>
                                            <p>2.0m</p>
                                        </div>
                                        <div class="col-4">
                                            <h4 class="mb-3">분류</h4>
                                            <p>둥근고래포켓몬</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 pl-0">
                                            <h4 class="mb-3">성별</h4>
                                            <div class="d-flex">
                                                <i class="icon-man mr-3"></i> <i class="icon-woman"></i>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <h4 class="mb-3">몸무게</h4>
                                            <p>130.0kg</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </div>
</body>

</html>
<script>

    function totsearch() {

        var sword;
        sword = $("#tsword").val();

        console.log(sword)

        if (sword == "") {
            swal({ title: "", text: "검색할 단어를 입력해주세요.", timer: 1500, showConfirmButton: true }); return;
        } else {
            document.location.href = "/search?sword=" + sword;
        }

    }
    $("#tsearchbtn").click(function () {
        $("#tsword").focus();
    });
</script>
<script>
    function viewdesc(nu) {

        if (nu == 0) {
            $(".descript").eq(0).show();
            $(".descript").eq(1).hide();
            $(".descript").eq(2).hide();
            $(".descript").eq(3).hide();
        } else if (nu == 1) {
            $(".descript").eq(1).show();
            $(".descript").eq(0).hide();
            $(".descript").eq(2).hide();
            $(".descript").eq(3).hide();
        } else if (nu == 2) {
            $(".descript").eq(2).show();
            $(".descript").eq(0).hide();
            $(".descript").eq(1).hide();
            $(".descript").eq(3).hide();
        } else if (nu == 3) {
            $(".descript").eq(3).show();
            $(".descript").eq(0).hide();
            $(".descript").eq(1).hide();
            $(".descript").eq(2).hide();
        }

    }
</script>
<script>

    function list() {

        document.location.href = "/pokedex?word=&characters=&area=&snumber=&snumber2=&typetextcs=&sortselval=";

    }
</script>